* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial;
}

.quiz-app {
    position: relative;
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}

@media(max-width:991px) {
    .quiz-app {
        max-width: 767px;
        width: 100%;
    }
}

.quiz-app .quiz-info {
    display: flex;
    background-color: #fff;
    padding: 20px;
}

.quiz-app .quiz-info .category {
    flex: 1;
}

.quiz-app .quiz-info .count {
    flex: 1;
    text-align: right;
}

.quiz-app .quiz-area {
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
    letter-spacing: 1.3px;
}

.quiz-app .quiz-area h2 {
    margin: 0;
}

@media(max-width:767px) {
    .quiz-app .quiz-area h2 {
        font-size: 19.7px;
        text-align: center;
    }
}

.quiz-app .answers-area {
    background-color: #fff;
    padding: 0 20px 20px;
}

.quiz-app .answers-area .answer {
    background-color: #f9f9f9;
    padding: 15px;
}

.quiz-app .answers-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}

.quiz-app .answers-area .answer input[type="Radio"]:checked+label {
    color: #0075ff;
}

.quiz-app .answers-area .answer label {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    top: -1px;
}

.quiz-app .submit-button {
    background-color: #0077ffee;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px auto;
    transition: 0.3s;
}

.quiz-app .submit-button:focus {
    outline: none;
}

.quiz-app .submit-button:hover {
    background-color: #0075ff;
}

.quiz-app .bullets {
    border-top: 1px solid #bbb;
    background-color: #fff;
    display: flex;
    padding: 20px;
}

.quiz-app .bullets .spans {
    flex: 1;
    display: flex;
}

.quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}

.quiz-app .bullets .spans span.on {
    background-color: #0075ff;
}

.quiz-app .results {
    position: absolute;
    z-index: 2;
    background-image: url("hero.jpg");
    background-size: cover;
    top: -135%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    font-size: 35px;
    background-color: #0075ff;
    color: white;
    letter-spacing: 1px;
    border-radius: 7px;
    transition: 0.3s;
}

.quiz-app .results::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}


@media(max-width:576px) {
    .quiz-app .results {
        font-size: 25px;
    }
}

.quiz-app .results.show {
    top: 75px;
}

.quiz-app .results h3 {
color: #26292c;
font-size: 25px;
}

.quiz-app .results span.bad {
    color: #f8372a;
}

.quiz-app .results span.good {
    color: #009688;
}

.quiz-app .results span.perfect {
    color: #22c55e;
}

.quiz-app .again {
    display: block;
    width: fit-content;
    margin: 9px auto;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 30px;
    border: 1px solid #26292c;
    color: #26292c;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.quiz-app .again:hover {
    background-color: #26292c;
    color: white;
}

/* --blue-color: #0075ff;
--blue-color-alt: #0d69d5;
--orange-color: #f59e0b;
--green-color: #22c55e;
--red-color: #f44336;
--grey-color: #888; */